{% include "header.html" %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Jessica Schmidt</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('home') }}">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('portfolio') }}">Web Development</a>
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{{ url_for('design') }}">Design</a>
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('contact') }}">Contact</a>
      </nav>
    </div>
  </header>

  <main class="px-5 mb-auto">
<div class="row g-4 mt-1">
<!--    break-->
<h2>Alpha Dog Archery</h2>
  <p>The Alpha Dog Archery design project was used for merchandising a line of products and for the company's social media presence.</p>
  <p>
    <a href="../static/assets/img/Alpha_Dog_Archery.jpg" target="_blank">
        <img src="../static/assets/img/Alpha_Dog_Archery.jpg" alt="Alpha Dog Archery Logo" class="img-fluid">
    </a>
</p>
<p>
    <a href="../static/assets/img/alpha_dog_hat.jpg" target="_blank">
        <img src="../static/assets/img/alpha_dog_hat.jpg" alt="Alpha Dog Archery Hat" style="max-width: 250px; max-height: 250px;">
    </a>
    <a href="../static/assets/img/alpha_dog_shirt.jpg" target="_blank">
        <img src="../static/assets/img/alpha_dog_shirt.jpg" alt="Alpha Dog Archery Shirt" style="max-width: 250px; max-height: 250x;">
    </a>
</p>
<!--    break-->
<!--    break-->
<h2>Flatland Book Cover and Spread</h2>
<p>
  The Flatland Cover and and inner spread were created as part of a collaborative re-publishing of the book.
</p>
<p>
    <a href="../static/assets/img/SCHMIDT_Flatland_Cover_NOMARKS.jpg" target="_blank">
        <img src="../static/assets/img/SCHMIDT_Flatland_Cover_NOMARKS.jpg" alt="Flatland Cover" class="img-fluid">
    </a>
    <a href="../static/assets/img/FLATLAND.jpg" target="_blank">
        <img src="../static/assets/img/FLATLAND.jpg" alt="Flatland Spread" class="img-fluid">
    </a>
</p>
<!--    break-->
<!--    break-->
<h2>Almost There</h2>
<p>
  A mockup design for the Walt Disney Company's MagicBand initiative.
</p>
<p>
    <a href="../static/assets/img/almostthere_spread.png" target="_blank">
        <img src="../static/assets/img/almostthere_spread.png" alt="Almost There MagicBand Poster" class="img-fluid">
    </a>
</p>
<!--    break-->
<h2>Magazine Illustration and Layout</h2>
<p>
  These draft illustrations and the resulting final piece were published and shipped worldwide from Australia.
</p>
<p>
    <a href="../static/assets/img/Kestrel_WIP_Page.jpg" target="_blank">
        <img src="../static/assets/img/Kestrel_WIP_Page.jpg" alt="Illustration Drafts" style="max-width: 250px">
    </a>
    <a href="../static/assets/img/The_Loss_Of_Peril.jpg" target="_blank">
        <img src="../static/assets/img/The_Loss_Of_Peril.jpg" alt="Illustration Final" style="max-width: 250px">
    </a>
</p>
<!--    break-->
<!--    break-->
<h2>Bodoni Poster</h2>
<p>
  Personal work, a poster made to highlight the beauty of the typeface Bodoni.
</p>
<p>
    <a href="../static/assets/img/Bodoni.jpg" target="_blank">
        <img src="../static/assets/img/Bodoni.jpg" alt="Bodoni Poster" class="img-fluid">
    </a>
</p>
<!--    break-->
  <!--    break-->
<h2>Enamel Pin Product Design</h2>
<p>
  An enamel pin design created for a client and manufactured. The pin also glows in the dark.
</p>
<p>
    <a href="../static/assets/img/rex_moon.jpg" target="_blank">
        <img src="../static/assets/img/rex_moon.jpg" alt="T Rex Enamel Pin" class="img-fluid">
    </a>
    <a href="../static/assets/img/rexleaf.jpg" target="_blank">
        <img src="../static/assets/img/rexleaf.jpg" alt="T Rex Enamel Pin" class="img-fluid">
    </a>
    <a href="../static/assets/img/rexglow.jpg" target="_blank">
        <img src="../static/assets/img/rexglow.jpg" alt="T Rex Enamel Pin" class="img-fluid">
    </a>
</p>
<!--    break-->
  <!--    break-->
<h2>Keychain Product Design</h2>
<p>
  A keychain design created for a client and manufactured.
</p>
<p>
    <a href="../static/assets/img/ravenlord.jpg" target="_blank">
        <img src="../static/assets/img/ravenlord.jpg" alt="Keychain Design" class="img-fluid">
    </a>
</p>
<!--    break-->
    <!--    break-->
<h2>Portrait Illustration</h2>
<p>
  A pet portrait created for a client, printed on canvas and delivered.
</p>
<p>
    <a href="../static/assets/img/Cal_portrait.jpg" target="_blank">
        <img src="../static/assets/img/Cal_portrait.jpg" alt="Dog Illustration" class="img-fluid">
    </a>
</p>
<!--    break-->
</div>
  </main>

{% include "footer.html" %}