{% include "header.html" %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Jessica Schmidt</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('home') }}">Home</a>
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{{ url_for('portfolio') }}">Web Development</a>
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('design') }}">Design</a>
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('contact') }}">Contact</a>
      </nav>
    </div>
  </header>
  <main class="px-3 mb-auto mt-5">
<div class="container">
    <h1>Dragon Bot</h1>
<br><br>
<p><i>Dragon Bot is written in Python using the discord.py library, which integrates smoothly with the Discord API. Dragon Bot can perform a wide variety of tasks:
</i>
<br><br>
<img class="img-fluid" src="../static/assets/img/dragonbot_token.png">
<br><br>
<b>API calls:</b> The bot can return data from the Battle.net API, including the value of in-game currency and specified images of in-game elements.
<br><br>
<b>Image processing:</b> In order to display the images in a clean fashion, Dragon Bot crops, saves, and re-uploads the aforementioned images before displaying them to Discord.
<br><br>
<b>Time-based reminders:</b> Dragon Bot features a /remind command, which takes the user’s input and desired reminder time in minutes. After the specified time has passed, the bot will notify the user of their reminder.
<br><br>
<b>Information and contextual commands:</b> The bot will respond with information or phrases based on user messages in the chat. For example, a user that asks for an Administrator will be directed to the correct contact channels.
<br><br>
This bot is a personal project for learning purposes. Feedback and suggestions are welcome. You can view the entire code here:
<br>
<a href="https://github.com/thejessimica/dragonbot" target="_blank">Dragon Bot on Github</a>
</p>
</div>
  </main>
{% include "footer.html" %}