{% include "header.html" %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Jessica Schmidt</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('portfolio') }}">Portfolio</a>
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('contact') }}">Contact</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>hello there :)</h1>
    <p class="lead">Welcome to my portfolio site! My name is Jessica, and I am a software developer. I am currently looking for full-time work. <br>Check out my portfolio with the link below!</p>
    <p class="lead">
      <a href="{{ url_for('portfolio') }}" class="btn btn-lg btn-light fw-bold border-white bg-white">View Portfolio</a>
    </p>
  </main>

{% include "footer.html" %}