{% include "header.html" %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Jessica Schmidt</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('home') }}">Home</a>
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{{ url_for('portfolio') }}">Portfolio</a>
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('contact') }}">Contact</a>
      </nav>
    </div>
  </header>

  <main class="px-5 mb-auto">
<div class="row g-4 mt-1">
<!--    break-->
  <div class="col-sm-6">
      <div class="card h-100" style="width: 15rem;">
          <img class="card-img-top" src="../static/assets/img/Dragonbot_thumb.png" alt="A Discord Bot Icon" width=auto height=150px>
          <div class="card-body">
              <h5 class="card-title">Dragon Bot</h5>
              <p class="card-text">Dragon Bot is a Discord bot that can perform tasks such as API calls, image processing, time-based reminders, and more.</p>
              <a href="{{ url_for('dragonbot') }}" class="btn btn-light fw-bold border-white bg-white">See More</a>
          </div>
      </div>
  </div>
<!--    break-->
<!--    break-->
  <div class="col-sm-6">
      <div class="card h-100" style="width: 15rem;">
          <img class="card-img-top" src="../static/assets/img/Snowager_thumb.png" alt="A drawing of the Snowager" height=150px>
          <div class="card-body">
              <h5 class="card-title">Snowager Bot</h5>
              <p class="card-text">Snowager Bot is a Telegram bot which makes announcements three times per day.</p>
              <a href="{{ url_for('snowagerbot') }}" class="btn btn-light fw-bold border-white bg-white">See More</a>
          </div>
      </div>
  </div>
<!--    break-->
<!--    break-->
<div class="col-sm-6">
  <div class="card h-100" style="width: 15rem;">
      <img class="card-img-top" src="../static/assets/img/Blog_main.png" alt="An image of a blog" height=150px>
      <div class="card-body">
          <h5 class="card-title">Travel Blog</h5>
          <p class="card-text">The travel blog is fully operational and allows registration of users, user comments, admin controls, post editing, and more.</p>
          <a href="{{ url_for('travelblog') }}" class="btn btn-light fw-bold border-white bg-white">See More</a>
      </div>
  </div>
</div>
<!--    break-->
<!--    break-->
<div class="col-sm-6">
<div class="card h-100" style="width: 15rem;">
  <img class="card-img-top" src="../static/assets/img/morse_code.png" alt="A thumbnail of the morse code demo" height=150px>
  <div class="card-body">
      <h5 class="card-title">Morse Code Translator</h5>
      <p class="card-text">The Morse Code translator can translate both to and from Morse code, and is compatible with most online Morse translators.</p>
      <a href="{{ url_for('morsetranslator') }}" class="btn btn-light fw-bold border-white bg-white">See More</a>
  </div>
</div>
</div>
<!--    break-->
</div>
  </main>

{% include "footer.html" %}